@if (Request.IsAuthenticated)
{
    <div class="notifications">
        <a class="link" href="#">
            <i class="notification-globe glyphicon glyphicon-globe"></i>
            <span class="badge js-notifications-count hide"></span>
        </a>
    </div>
}
else
{
    <div class="notifications"></div>
}