body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: #ff0000;
    font-weight: bold;
}

/* Bootstrap overrides ----------------------------------------------------------- */
.navbar-inverse {
    background-color: #140078;
    border-color: #140078;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.btn-primary {
    color: #ffffff;
    background-color: #512da8;
    border-color: #512da8;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #8559da;
    border-color: #8559da;
}

.jumbotron {
    background-color: #EEEEEE;
}

body {
    font-size: 16px;
}

body, .h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    margin: 18px 0px;
}

.form-group {
    margin-bottom: 18px;
}

.form-control {
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 12px;
    height: auto;
}

.form-control:focus {
    border-color: #8558da;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.submit-btn {
    font-size: 16px;
    padding: 8px 18px;
}

.navbar-brand {
    font-weight: 700;
}

/* Navbar dropdown menu */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #512da8;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: none;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #512da8;
}

/* Hamburger button */
.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #512da8;
}

/* Page-level styles ------------------------------------------------------------- */

.gigs {
    list-style: none;
}

.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .date {
    background: red;
    color: white;
    text-align: center;
    width: 60px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.gigs > li .date .month {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 6px;
}

.gigs > li .date .day {
    background: #f7f7f7;
    color: #333333;
    font-size: 20px;
    padding: 6px 12px;
}

.gigs > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}

.gigs > li .details .artist {
    font-weight: bold;
    display:block;
}

.gigs > li .details .genre {
    font-size: 15px;
}